.postViewer {
	height: 500px;
	overflow: auto;
	background: #feaefe;
}

.newPost {
	height: 200px;
	background: #1435f3;
	position: fixed;
	bottom:0;
}

.footerSubmit {
	margin-top: 10px;
	margin-left: 10px;
}